body {
	background-color: #f2f2f2;
	color: #1a1a1a; 
}
.medium-stuff {
	max-width: 80%;
	margin: 20px auto;
}
.medium-left {
	float: left;
	margin: 5px;
}
.medium-right {
	float: right;
	margin: 5px;
	z-index: -1;
}
.btn {
	margin: 2px; 
}
#blogposts-list {
	border: black solid 3px; 
}
#blogposts-template {
	clear: both;
}
#profile-photo {
	margin: 1px;
}
/*#blogposts-template {
	border: black solid 3px;
}*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */